.pagination {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 15px; }
  .pagination .move-left-button,
  .pagination .move-right-button {
    margin-right: 5px;
    cursor: pointer; }
    .pagination .move-left-button:hover,
    .pagination .move-right-button:hover {
      color: #2e70ff; }
  .pagination .page-item {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #fff; }
    .pagination .page-item:hover, .pagination .page-item.active {
      border: 1px solid #c8cdce; }

.news-item {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #7a807b;
  cursor: pointer;
  transition: background-color 0.1s; }
  .news-item:hover {
    background-color: #f6f6f3; }
  .news-item .public-date {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    color: #7a807b; }
  .news-item .snippet {
    font-size: 13px; }

.news-detail {
  text-align: left; }
  .news-detail .public-date {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    color: #7a807b; }
  .news-detail .snippet {
    font-size: 13px;
    margin-bottom: 10px; }
