.pagination {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
  .move-left-button,
  .move-right-button {
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      color: #2e70ff;
    }
  }
  .page-item {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    &:hover,
    &.active {
      border: 1px solid #c8cdce;
    }
  }
}

.news-item {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #7a807b;
  cursor: pointer;
  transition: background-color 0.1s;
  &:hover {
    background-color: #f6f6f3;
  }
  .public-date {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    color: #7a807b;
  }
  .snippet {
    font-size: 13px;
  }
}

.news-detail {
  text-align: left;
  .public-date {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    color: #7a807b;
  }
  .snippet {
    font-size: 13px;
    margin-bottom: 10px;
  }
}