.pagination {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
  .move-left-button,
  .move-right-button {
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      color: #2e70ff;
    }
  }
  .page-item {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    &:hover,
    &.active {
      border: 1px solid #c8cdce;
    }
  }
}
